//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 06 15:21:17 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "red" LOCATE = SITE "H14" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
COMP "blue" LOCATE = SITE "G15" LEVEL 1;
COMP "PSCLK" LOCATE = SITE "G14" LEVEL 1;
COMP "START" LOCATE = SITE "V4" LEVEL 1;
COMP "green" LOCATE = SITE "H15" LEVEL 1;
COMP "hsync" LOCATE = SITE "F15" LEVEL 1;
COMP "vsync" LOCATE = SITE "F14" LEVEL 1;
COMP "PSDATA" LOCATE = SITE "G13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

